.searchBar {
  justify-content: end;
}

.dashboard {
  height: 100%;
  background-color: #d9eee1;
  margin-left: auto;
}

.navbar-custom {
  background-color: #282a35;
  color: white;
}

.big-text {
  font-size: 70px;
}

.med-text {
  font-size: 50px;
}

.med-label {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 25px;
  border-radius: 60px;
  background-color: #282a35;
  color: white;
}

.grn-btn {
  background-color: #132e0f;
  color: white;
}

.container-padding {
  padding-top: 10px;
  padding-bottom: 100px;
}

.card {
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.569);
  text-align: center;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  border-radius: 1em;
  background-color: white;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
}

.btn-primary:hover {
  background-color: #a7bdaf;
}

#mapContainer {
  height: 50vh;
}

#mapCloseButton {
  border: none;
  outline: none;
  background-color: white;
}

#mapOpenButton:hover {
  color: #132e0f;
  background-color: #d9eee1;
  border: 1px solid #132e0f;
}

.side-bar {
  background-color: #cce0d4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 #c6d8cc;
}

